* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #555;
}

li {
    list-style: none;
}

.cl {
    clear: both;
}

body {
    background: #F1F1EF;
}


/*顶部开始*/

#top {
    width: 100%;
    height: 21px;
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
}

.top_main {
    width: 1010px;
    height: 21px;
    padding: 0px 15px;
    line-height: 21px;
    margin: 0 auto;
}

.top_main_left p {
    color: #777790;
    font-size: 12px;
    float: left;
}


/* 浮动 */

.top_main_right_2 {
    float: right;
    color: #777;
    font-size: 12px;
}

.top_main_right_1 {
    float: right;
    color: #F00;
    font-size: 12px;
    margin-left: 10px;
}

.top_main_right a:hover {
    text-decoration: underline;
}


/*header部分*/

header {
    width: 1025px;
    height: 55px;
    padding: 20px 0px;
    padding-left: 15px;
    margin: 0 auto;
}

.logo {
    width: 210px;
    height: 50px;
    float: left;
}

.search {
    width: 327px;
    height: 50px;
    margin-top: 5px;
    float: right;
}

input[type=search] {
    width: 241px;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-top: -1px;
}

input[type=submit] {
    width: 72px;
    height: 34px;
    border: 1px solid #2E6DA4;
    padding: 6px 12px;
    margin-left: -5px;
    background: #337AB7;
    color: #fff;
}

input[type=submit]:hover {
    background: #286090;
}

.tj {
    margin-top: 5px;
    font-size: 12px;
}

.tj a {
    margin-right: 5px;
}

.tj a:first-child {
    margin-left: 20px;
}

.tj a:hover {
    text-decoration: underline;
}


/*导航开始*/

nav {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.nav {
    width: 1010px;
    height: 40px;
    padding: 0px 15px;
    margin: 0 auto;
    overflow: hidden;
}

.nav:after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}

.nav_item {
    width: 100px;
    height: 40px;
    float: left;
}

.nav_item a {
    margin-right: 5px;
    height: 40px;
    display: block;
}

.nav_item a p {
    height: 40px;
    line-height: 40px;
    margin: 0;
    border-radius: 5px;
    font-size: 14px;
    font-size: "黑体";
    text-align: center;
}

.nav_item a p:first-child {
    border-radius: 5px;
    color: #fff;
    background: #ff7434;
}

.nav li {
    width: 100px;
    height: 40px;
    background: #ff7434;
    float: right;
    margin-right: 5px;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.nav li a {
    color: #fff;
}

.nav li:hover a {
    color: red;
}


/*公告*/

.gg {
    width: 970px;
    height: 21px;
    padding: 5px 20px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin: 0 auto;
    color: #3c763d;
    background: #dff0d8;
    margin-bottom: 10px;
}


/*主体*/

main {
    width: 1040px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.main {
    width: 760px;
    height: 784px;
    float: left;
}

.main_title {
    width: 764px;
    height: 20px;
    padding-left: 10px;
    border-left: 4px solid #DD5862;
    margin-top: 20px;
    margin-bottom: 5px;
    line-height: 20px;
}

.main_title h3 {
    font-size: 20px;
    font-weight: 400;
    color: #666;
    float: left;
}

.main_title a {
    font-size: 14px;
    color: #666;
    float: right;
}

.main_title a:hover {
    text-decoration: underline;
}

.main_item {
    width: 175px;
    height: 302px;
    padding: 10px 7px;
    float: left;
}

.main_item_img {
    display: block;
    width: 175px;
    height: 250px;
    position: relative;
}

.main_item_img_tu {
    width: 175px;
    height: 250px;
    opacity: 0.8;
}

.main_item_title {
    width: 165px;
    height: 42px;
    padding: 5px;
    background: #fff;
}

.main_item_title h1 {
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    width: 100%;
    font-weight: 500
}

.main_item_title h1 em {
    color: #8c8c8c;
    font-size: 12px;
    font-style: normal;
}

.main_item_title_lei {
    color: #7e7e7e;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%
}

.movietype {
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    color: #999;
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    margin: 0 5px 5px 0;
    padding: 2px 5px;
}

.main_item_ico {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 85px;
    left: 50px;
    display: none;
}


/* 定位 */

.cq {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 35px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    background: #337AB7;
    color: #fff;
}

.main_item:hover .main_item_ico {
    display: block;
}

.main_item:hover .main_item_img_tu {
    opacity: 1;
}

.main_item:hover {
    box-shadow: 8px 8px 20px 1px #e0e0e0;
}

.main_add {
    width: 760px;
    height: 90px;
    background: red;
    margin-top: 15px;
}

.main_add {
    text-align: center;
    line-height: 90px;
}

.right {
    width: 230px;
    height: auto;
    padding-left: 10px;
    padding-right: 15px;
    float: right;
}

.right_title {
    width: 216px;
    height: 20px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 4px solid #DD5862;
}

.right_title h3 {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    line-height: 20px;
}

.list-group {
    padding-left: 0;
}

.list-group-item {
    width: 220px;
    height: 21px;
    color: #555;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 6px 5px;
    position: relative;
    font-size: 14px;
}

.square-item-red {
    background: red;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.square-item-blue {
    background: #07A7E1;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.list-group-item:hover {
    background: #ddd;
}

.right_title2 {
    margin-top: 10px;
    width: 216px;
    height: 20px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-left: 4px solid #DD5862;
}

.right_title2 h3 {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    line-height: 20px;
}


/* 更多精彩 */

.gengduo {
    display: block;
    line-height: 20px;
    text-align: center;
    width: 1010px;
    height: auto;
    padding: 6px 0px;
    border: 1px solid #398439;
    border-radius: 5px;
    background: #5CB85C;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px;
}


/*底部开始*/

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 20px;
}

.foot {
    width: 1040px;
    height: 120px;
    padding-top: 20px;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
    text-align: center;
}

.foot p {
    margin-bottom: 10px;
}

.foot a:hover {
    text-decoration: underline;
}